.preloading {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  &-loading,
  &-error {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
  }

  &-loading {
    color: var(--color-2);
  }

  &-error {
    color: var(--color-4);
  }
}

.page-main {
  width: 100%;
  min-height: calc(100vh - 220px);

  @media screen and (max-width: 900px) {
    min-height: calc(100vh - 420px);
  }

  &-loading,
  &-error {
    width: 100%;
    height: calc(100vh - 220px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-loading__text,
  &-error__text {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
  }

  &-loading__text {
    color: var(--color-2);
  }

  &-error__text {
    color: var(--color-4);
  }
}
